.card-header {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inherit;
}

.save-article, .delete-article, .get-notes {
    float: right;
    height: 40px;
    margin: 0px 0px 0px 5px;
}

.card-text {
    padding: 20px;
    height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h5 {
    margin: 0px !important;
    padding: 0px;
}

input {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    /* background-color: antiquewhite; */
  }

textarea {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    /* background-color: antiquewhite; */
}

#results {
    width: 100%;
    height: 200px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
